# Next.js build folder
.next/
# Output directory
out/
# Dependencies
node_modules/
# Contentlayer
.contentlayer/

# Snake game component with exhaustive deps warning
app/snake-game/components/Snake.tsx
